* {
	font-family: "helvetica";
	margin: 0px;
}

main {
	margin: 20px;
}

.nav {
	background-color: black;
	padding: 30px;
	text-align: center;
}

.white {
	color: white;
}

h1 {
	font-weight: 900;
}

h2 {
	margin-bottom: 20px;
}

section {
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
}

.postedBy {
	font-size: 12px;
}

p {
	margin-bottom: 20px;
	color: #363737;
}

hr {
	margin-top: 15px;
	margin-bottom: 10px;
}

li {
	display: inline;
	padding: 60px;
}

li a {
	text-decoration: none;
	color: white;
}

.license {
	text-align: center;
	background-color: black;
	padding: 20px;
	margin: 0 auto;
	font-size: 13px;
}

.license a {
	color: #363737;
}